body {
    background-color: #232323;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: steelblue;
    color: #fff;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    line-height: 1.1;
    padding: 20px 0;
}
.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    -webkit-transition: background .6s;
    -moz-transition: background .6s;
    transition: background .6s; 
}

#container {
    margin: 20px auto;
    max-width: 600px;   
}

#stripe {
    height: 30px;
    background-color: white;
    text-align: center;
}

button {
    border: none;
    background: none;
    color: steelblue;
    height: 100%;
    letter-spacing: 1px;
    font-size: inherit;
    font-weight: 700;
    transition: all .3s;
    outline: none;
}

button:hover {
    color: white;
    background-color: steelblue;
}

#message {
    display: inline-block;
    width: 20%;
    color: black;
    letter-spacing: 1px;
    font-size: inherit;
    font-weight: 700;
}

.selected {
    color: white;
    background-color: steelblue;
}

#colorDisplay {
    font-size: 200%;
}

